In [70]:
import pandas as pd

# Read the CSV files
NYT_articles = pd.read_csv('Final Cleaned Data with (Sentiment & Classification)/NYT_articles_results.csv')

NYT_articles.head()

,article_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,pub_date,headline,abstract,lead_paragraph,byline,section_name,web_url,source,multimedia_url
0,1,0.368058,0.601618,0.030324,-0.337734,Crude Oil,2024-01-30T13:40:11+0000,Saudi Aramco Abruptly Drops Plans to Expand Oi...,"The pullback, at the behest of the Saudi gover...",Saudi Aramco said Tuesday that it would call o...,By Stanley Reed,Business Day,https://www.nytimes.com/2024/01/30/business/sa...,The New York Times,https://www.nytimes.com/images/2024/01/30/mult...
1,2,0.166939,0.778636,0.054426,-0.112513,Crude Oil,2024-01-29T10:01:56+0000,Where Southerners Go to Fill the Tank and Feed...,Are they gas stations that serve food or resta...,New York City has its bodegas. The South has i...,By Kim Severson,Food,https://www.nytimes.com/2024/01/29/dining/sout...,The New York Times,https://www.nytimes.com/images/2024/01/31/mult...
2,3,-0.505036,0.465767,-0.029197,0.475839,Green Energy,2024-01-27T08:00:40+0000,Democrats Say Biden Hasn’t ‘Made the Case’ on ...,The president likes to talk about his climate ...,President Biden has done more than any preside...,By Lisa Friedman,Climate,https://www.nytimes.com/2024/01/27/climate/bid...,The New York Times,https://www.nytimes.com/images/2024/01/26/mult...
3,4,0.418735,0.560967,0.020298,-0.398437,Other,2024-01-24T19:59:53+0000,Shipping Costs Soar in Wake of Red Sea Attacks,Ships risking Houthi attacks must pay high ins...,"For about two months, a barrage of missile and...",By Stanley Reed,Business Day,https://www.nytimes.com/2024/01/24/business/re...,The New York Times,https://www.nytimes.com/images/2024/01/23/mult...
4,5,0.197280,0.782257,0.020464,-0.176816,Crude Oil,2024-01-24T17:59:40+0000,White House Said to Delay Decision on Enormous...,"Before deciding whether to approve it, the Ene...",The Biden administration is pausing a decision...,By Coral Davenport,Climate,https://www.nytimes.com/2024/01/24/climate/bid...,The New York Times,https://www.nytimes.com/images/2024/01/24/mult...

In [71]:
import pandas as pd

# Read the CSV files
X_articles = pd.read_csv('Final Cleaned Data with (Sentiment & Classification)/X_articles_results.csv')
X_articles['source'] = 'X'
X_articles.tail()

,tweet_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,tweet.created_at,tweet.user.name,tweet.user.location,tweet.user.followers_count,tweet.text,tweet.view_count,tweet.favorite_count,tweet.retweet_count,tweet.reply_count,tweet.media,source
1726,1727,0.272725,0.700648,0.026627,-0.246099,Crude Oil,2024-07-09 18:17:04+00:00,Asia Fact Check Lab,NaN,148,A claim emerged among Chinese netizens in June...,66,3,1,0,"[{'display_url': 'pic.x.com/znday8bmoj', 'expa...",X
1727,1728,0.018073,0.553974,0.427953,0.409881,Crude Oil,2024-07-09 18:28:45+00:00,House Appropriations,"Washington, DC",22922,The FY25 Interior and Environment Appropriatio...,1787,9,2,4,"[{'display_url': 'pic.x.com/hwidzcew02', 'expa...",X
1728,1729,0.462649,0.478608,0.058743,-0.403905,Other,2024-07-09 18:45:17+00:00,EIA,"Washington, DC",181421,☝️Correction: #Cryptocurrency mining. Apologie...,2245,1,0,0,NaN,X
1729,1730,0.004067,0.266414,0.729519,0.725453,Crude Oil,2024-07-09 19:46:22+00:00,GetWireless,Minnesota,693,💡100% of the top 20 U.S. oil and gas producers...,26,0,0,0,"[{'display_url': 'pic.x.com/ezsk6nc95w', 'expa...",X
1730,1731,0.048669,0.794753,0.156578,0.107909,Other,2024-07-09 19:50:02+00:00,EIA,"Washington, DC",181421,As we continue to highlight the #STEO forecast...,9149,8,3,1,NaN,X

## Creating a column just with the date, without the time so we can sort it later on.

In [72]:
# Convert 'pub_date' to datetime and create 'date' column
NYT_articles['pub_date'] = pd.to_datetime(NYT_articles['pub_date'])
NYT_articles['date'] = NYT_articles['pub_date'].dt.date
cols = list(NYT_articles.columns)
pub_date_index = cols.index('pub_date')
cols.insert(pub_date_index, cols.pop(cols.index('date')))
NYT_articles = NYT_articles[cols]


# Convert 'pub_date' to datetime and sort by 'pub_date'
NYT_articles['pub_date'] = pd.to_datetime(NYT_articles['pub_date'])
NYT_articles = NYT_articles.sort_values(by='pub_date').reset_index(drop=True)
NYT_articles.head(1)

,article_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,pub_date,headline,abstract,lead_paragraph,byline,section_name,web_url,source,multimedia_url
0,26,0.406308,0.568947,0.024745,-0.381563,Crude Oil,2024-01-05,2024-01-05 05:01:15+00:00,Red Sea Attacks Leave Tankers With Choice: Acc...,Some oil tanker traffic continues to go throug...,Attacks on commercial vessels in the Red Sea b...,By Stanley Reed,Business Day,https://www.nytimes.com/2024/01/05/business/re...,The New York Times,https://www.nytimes.com/images/2024/01/04/mult...

In [73]:
# Convert 'tweet.created_at' to datetime and create 'publish date' column
X_articles['tweet.created_at'] = pd.to_datetime(X_articles['tweet.created_at'])
X_articles['date'] = X_articles['tweet.created_at'].dt.date

# Rearrange the columns so that 'publish date' comes before 'tweet.created_at'
cols = list(X_articles.columns)
created_at_index = cols.index('tweet.created_at')
cols.insert(created_at_index, cols.pop(cols.index('date')))
X_articles = X_articles[cols]

# Convert 'tweet.created_at' to datetime and sort by 'tweet.created_at'
X_articles['tweet.created_at'] = pd.to_datetime(X_articles['tweet.created_at'])
X_articles = X_articles.sort_values(by='tweet.created_at').reset_index(drop=True)
# Add a constant column named 'source' with value 'X'




# Display the first row to verify
X_articles.head(1)

,tweet_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,tweet.created_at,tweet.user.name,tweet.user.location,tweet.user.followers_count,tweet.text,tweet.view_count,tweet.favorite_count,tweet.retweet_count,tweet.reply_count,tweet.media,source
0,1,0.224576,0.714257,0.061168,-0.163408,Crude Oil,2024-01-02,2024-01-02 13:10:06+00:00,EIA,"Washington, DC",181422,#TodayInEnergy - #Brent crude #oilprices avera...,20679,30,17,0,"[{'display_url': 'pic.x.com/gexe4zlndm', 'expa...",X

# Renaming Columns so that they match

In [74]:
# Rename 'pub_date' to 'date_and_time'
NYT_articles = NYT_articles.rename(columns={'pub_date': 'date_and_time'})
NYT_articles = NYT_articles.rename(columns={'headline': 'text'})
NYT_articles = NYT_articles.rename(columns={'byline': 'by'})

In [75]:
X_articles = X_articles.rename(columns={'tweet.created_at': 'date_and_time'})
X_articles = X_articles.rename(columns={'tweet.text': 'text'})
X_articles = X_articles.rename(columns={'tweet.user.name': 'by'})

## Filtering tweets with only > 2000 views

In [76]:
# Filter the dataframe to only include rows with 2000 or more views
# Filter the X_articles dataset to keep only rows where 'tweet.view_count' is >= 2000 and reset the index
X_articles_over_2000views = X_articles[X_articles['tweet.view_count'] >= 2000].reset_index(drop=True)


X_articles_over_2000views.tail(1)

,tweet_count,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,date_and_time,by,tweet.user.location,tweet.user.followers_count,text,tweet.view_count,tweet.favorite_count,tweet.retweet_count,tweet.reply_count,tweet.media,source
961,1731,0.048669,0.794753,0.156578,0.107909,Other,2024-07-09,2024-07-09 19:50:02+00:00,EIA,"Washington, DC",181421,As we continue to highlight the #STEO forecast...,9149,8,3,1,NaN,X

# Dropping not overlapping columns so that we can merge the X and NYT

In [77]:
# Drop unnecessary columns

NYT_articles = NYT_articles.drop(columns=['article_count','multimedia_url', 'web_url', 'section_name', 'lead_paragraph', 'abstract'])
NYT_articles.head(1)

,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,date_and_time,text,by,source
0,0.406308,0.568947,0.024745,-0.381563,Crude Oil,2024-01-05,2024-01-05 05:01:15+00:00,Red Sea Attacks Leave Tankers With Choice: Acc...,By Stanley Reed,The New York Times

In [78]:
# Drop unnecessary columns

X_articles_over_2000views = X_articles_over_2000views.drop(columns=['tweet_count','tweet.media','tweet.user.followers_count','tweet.favorite_count','tweet.retweet_count','tweet.reply_count','tweet.user.location','tweet.view_count'])
X_articles_over_2000views.head(1)

,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,date_and_time,by,text,source
0,0.224576,0.714257,0.061168,-0.163408,Crude Oil,2024-01-02,2024-01-02 13:10:06+00:00,EIA,#TodayInEnergy - #Brent crude #oilprices avera...,X

In [79]:
X_articles_over_2000views.tail(1)

,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,date_and_time,by,text,source
961,0.048669,0.794753,0.156578,0.107909,Other,2024-07-09,2024-07-09 19:50:02+00:00,EIA,As we continue to highlight the #STEO forecast...,X

In [80]:
NYT_articles.tail(1)

,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date,date_and_time,text,by,source
148,-0.478894,0.496974,-0.024132,0.454762,Green Energy,2024-07-07,2024-07-07 19:55:06+00:00,"Officials Urge Coastal Texans to Evacuate, but...","By Edgar Sandoval, Maria Jimenez Moya and Jack...",The New York Times

# Merge the two datasets

In [81]:

data = pd.merge(NYT_articles, X_articles_over_2000views,how='outer')
# Reordering the columns so that 'publish date' is the first column
cols = ['date'] + [col for col in data.columns if col != 'date']
data = data[cols]

data = data.sort_values(by='date_and_time', ascending=True,).reset_index(drop=True)
data

,date,negative_sentiment_score,neutral_sentiment_score,positive_sentiment_score,compound_sentiment_score,classification,date_and_time,text,by,source
0,2024-01-02,0.224576,0.714257,0.061168,-0.163408,Crude Oil,2024-01-02 13:10:06+00:00,#TodayInEnergy - #Brent crude #oilprices avera...,EIA,X
1,2024-01-02,0.004042,0.304035,0.691923,0.687881,Other,2024-01-02 18:11:37+00:00,Reminder: #TodayInEnergy will see some big cha...,EIA,X
2,2024-01-02,0.177734,0.775157,0.047109,-0.130625,Crude Oil,2024-01-02 19:04:55+00:00,Annual average price of Brent crude #oil: \n\n...,EIA,X
3,2024-01-02,0.036057,0.877669,0.086275,0.050218,Other,2024-01-02 21:09:05+00:00,We're adjusting our data release schedule due ...,EIA,X
4,2024-01-02,0.194202,0.722310,0.083488,-0.110714,Crude Oil,2024-01-02 21:30:01+00:00,Comparing September 2023 to September 2022:\n\...,EIA,X
...,...,...,...,...,...,...,...,...,...,...
1106,2024-07-09,0.060441,0.675262,0.264298,0.203857,Crude Oil,2024-07-09 16:02:29+00:00,We expect rising #electricity demand and #natu...,EIA,X
1107,2024-07-09,0.015822,0.637030,0.347148,0.331325,Crude Oil,2024-07-09 16:46:53+00:00,Our forecasts for the second half of 2024 vs 2...,EIA,X
1108,2024-07-09,0.021581,0.905617,0.072802,0.051222,Other,2024-07-09 17:34:00+00:00,TOMORROW:\n\nWe're hosting a listening session...,EIA,X
1109,2024-07-09,0.462649,0.478608,0.058743,-0.403905,Other,2024-07-09 18:45:17+00:00,☝️Correction: #Cryptocurrency mining. Apologie...,EIA,X
1110,2024-07-09,0.048669,0.794753,0.156578,0.107909,Other,2024-07-09 19:50:02+00:00,As we continue to highlight the #STEO forecast...,EIA,X

In [82]:
# Save the merged DataFrame to a new CSV file
output_path = 'Merged NYT & X (>2000) views/Merged NYT & X (>2000) views.csv'
data.to_csv(output_path, index=False)

print(f"The merged DataFrame has been saved to {output_path}")

The merged DataFrame has been saved to Merged NYT & X (>2000) views/Merged NYT & X (>2000) views.csv